<!-- team section
================================================== -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">

			<!-- Section title
			================================================== -->
			<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
				<div class="section-title">
					<h5 class="wow bounceIn">WE ARE READY</h5>
					<h1 class="heading">OFFICERS</h1>
					<hr>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt.</p>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("dennis_tan.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>President</h4>
							<h3>Dennis Tan</h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-offset-2 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("carmen_tang", class: "img-responsive") %>
						<div class="team-des">
							<h4>Vice President</h4>
							<h3>Carmen Tang</h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("jennifer_tang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Finance Co-Chair</h4>
							<h3>Jennifer Tang</h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("jacob_huynh", class: "img-responsive") %>
						<div class="team-des">
							<h4>Finance Co-Chair</h4>
							<h3>Jacob Huynh</h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("joseph_jiang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Community Co-Chair</h4>
							<h3> Joseph Jiang </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("yitian_zhang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Community Co-Chair</h4>
							<h3> Yitian Zhang </h3>
						</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("morgan_reschenberg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Curriculum Co-Chair</h4>
							<h3> Morgan Reschenberg </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("andrea_liu", class: "img-responsive") %>
						<div class="team-des">
							<h4>Curriculum Co-Chair</h4>
							<h3> Andrea Liu </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("sandy_zhang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Mentorship Co-Chair</h4>
							<h3> Sandy Zhang </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("jesse_luo.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Mentorship Co-Chair</h4>
							<h3> Jesse Luo </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("kevin_shi.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Events Co-Chair</h4>
							<h3> Kevin Shi </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("tracy_lam.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Events Co-Chair</h4>
							<h3> Tracy Lam </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("aaron_davis.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4> Marketing & Recruitment Co-Chair</h4>
							<h3> Aaron Davis </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("andrew_chang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Marketing & Recruitment Co-Chair</h4>
							<h3> Andrew Chang </h3>
						</div>
				</div>
			</div>
			<div class="col-md-offset-2 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("betty_chang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4> DeCal Co-Instructor</h4>
							<h3> Betty Chang </h3>
						</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("calley_wang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>DeCal Co-Instructor</h4>
							<h3> Calley Wang </h3>
						</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.25s">
				<div class="team-wrapper">
				    <%= image_tag("richard_jiang.jpg", class: "img-responsive") %>
						<div class="team-des">
							<h4>Technology</h4>
							<h3>Richard Jiang</h3>
						</div>
				</div>
			</div>
        
		</div>
	</div>
</section>
